<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detail of Question</title>
  </head>
  <body>
    <div id="app">
      <div><h1>{{ question.question_text }}</h1></div>
      <div>
        <ul>
          {% for choice in question.choice_set.all %}
          <li>{{ choice }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </body>
</html>
